<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515126916900-an3r7bmpahcpbthrqsvde8qbdqcvatgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515126916900-an3r7bmpahcpbthrqsvde8qbdqcvatgq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>515126916900-a46e73pop3ncov0hnv1op80tlmq357ds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDP2nhx9r9perbr8eTupjnhHd3QtSRpNFs</string>
	<key>GCM_SENDER_ID</key>
	<string>515126916900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wochap.invoicescanner</string>
	<key>PROJECT_ID</key>
	<string>invoice-scanner-f7651</string>
	<key>STORAGE_BUCKET</key>
	<string>invoice-scanner-f7651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515126916900:ios:1a52773b2b274d2521e5b1</string>
	<key>DATABASE_URL</key>
	<string>https://invoice-scanner-f7651.firebaseio.com</string>
</dict>
</plist>